<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="app/assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>Cadastro de Doadores</title>
</head>
<body>
    <div class="interface">
        <nav><a href="?metodo=index"><h3>Inicio</h3></a><a href="?metodo=cadastrar"><h3>Cadastrar doador</h3></a></nav>
    </div>
    <div class="interface">
        {{conteudo_dinamico}}
    </div>
</body>
</html>