*{
    padding:0px;
    margin:0px;
    background-color:white;
}
.doadores{
    margin-left:auto;
    margin-right:auto;
    border:1px solid rgb(102, 102, 102);
}
.doadores td{
    margin-right:12px;
    margin-left:12px;
}
.interface{
    text-align:center;
    background-color:lightgray;
    margin:0.9%;
    padding:0.7%;
}
.navegacao{
    margin:1%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navegacao a{
    font-size: larger;
    text-decoration: none;
    color:black;
    margin-right:25px;
    padding: auto;
}
.navegacao a:hover{
    background-color: black;
    padding:6px;
    border-radius: 10%;
    transition:cubic-bezier(0.25, 0.46, 0.45, 0.94);
    color:white;
    
}